<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <div class="login-form">
    <h1> Welcome into an incredible world </h1>
    <form class="register" method="post" >
      <input type="text" name="First Name" required="required" placeholder="First Name"><br><br>
      <input type="text" name="Last Name" required="required" placeholder="Last Name"><br><br>
      <input type="text" name="Username" required="required" placeholder="Username"><br><br>
      <input type="email" name="Email" required="required" placeholder="Email"><br><br>
      <input type="password" name="Password" required="required" placeholder="Password"><br><br>
      <input type="submit" value="Register">
    </form>
  </div>


</body>
</html>